.hero-container .slide {
    background: none;
    padding: 0;

}
.slider-container {
    position:relative;
    min-width: 100%;
    margin: 1rem 0;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    min-width: 100%;
    transition: all 0.3s ease-in-out;
}

.slide {
    background: var(--primary-color);
    min-width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.slide img {
    min-width: 100%;
    max-width: 100%;
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    gap: 2rem;
}